{% extends 'base.html' %}


{%block title%}Catagory{% endblock %}

{%block body%}

{% load static %}



<!-- ***** Projects Area Starts ***** -->
    <section class="section" id="projects">
      <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h6>Our Projects</h6>
                    <h2>Some of our latest projects</h2>
                </div>
                <div class="filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".des">Web Design</li>
                        <li data-filter=".dev">Web Development</li>
                        <li data-filter=".gra">Graphics</li>
                        <li data-filter=".tsh">Artworks</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="{% static 'website/assets/images/project-big-item-01.jpg' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'website/assets/images/project-item-01.jpg' %}" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="{% static 'website/assets/images/project-big-item-02.jpg' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'website/assets/images/project-item-02.jpg' %}" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all gra">
                          <div class="item">
                            <a href="{% static 'website/assets/images/project-big-item-03.jpg' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'website/assets/images/project-item-03.jpg' %}" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all tsh">
                          <div class="item">
                            <a href="{% static 'website/assets/images/project-big-item-04.jpg' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'website/assets/images/project-item-04.jpg' %}" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="{% static 'website/assets/images/project-big-item-05.jpg' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'website/assets/images/project-item-05.jpg' %}" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="{% static 'website/assets/images/project-big-item-06.jpg' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'website/assets/images/project-item-06.jpg' %}" alt=""></a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <!-- ***** Projects Area Ends ***** -->

{% endblock %}